In [1]:
количество_студентов = 25  # int
средний_балл = 4.7  # float
название_курса = "Введение в Python"  # str
прошел_курс = True  # bool

In [2]:
print(type(количество_студентов))  # <class 'int'>

print(type(средний_балл))  # <class 'float'>

print(type(название_курса))  # <class 'str'>

print(type(прошел_курс))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
сумма = количество_студентов + 5
print(сумма)  # 30

30

In [4]:
новое_название = название_курса + " (часть 1)"

print(новое_название)  # Введение в Python (часть 1)

Введение в Python (часть 1)

In [5]:
строка_из_числа = str(количество_студентов)

print(строка_из_числа)  # "25"

число_из_строки = int("10")

print(число_из_строки)  # 10

25
10

In [6]:
любимые_книги = ["Гарри Поттер", "Властелин колец", "1984"]

In [7]:
print(любимые_книги[0])  # "Гарри Поттер"

print(любимые_книги[-1])  # "1984"

Гарри Поттер
1984

In [8]:
любимые_книги.append("Мартин Иден")

print(любимые_книги)  # ["Гарри Поттер", "Властелин колец", "1984", "Мартин Иден"]

['Гарри Поттер', 'Властелин колец', '1984', 'Мартин Иден']

In [9]:
del любимые_книги[2]

print(любимые_книги)  # ["Гарри Поттер", "Властелин колец", "Мартин Иден"]

['Гарри Поттер', 'Властелин колец', 'Мартин Иден']

In [10]:
любимые_книги.sort()

print(любимые_книги)  # ["Гарри Поттер", "Властелин колец", "Мартин Иден"]

['Властелин колец', 'Гарри Поттер', 'Мартин Иден']

In [11]:
четные_числа = list(range(1, 11))[1::2]

print(четные_числа)  # [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [12]:
# Создание словаря

столицы = {"Россия": "Москва", "Франция": "Париж", "Германия": "Берлин"}



# Доступ к значению по ключу

print(столицы["Россия"])  # "Москва"



# Добавление новой пары ключ-значение

столицы["Испания"] = "Мадрид"

print(столицы)  # {"Россия": "Москва", "Франция": "Париж", "Германия": "Берлин", "Испания": "Мадрид"}



# Проверка наличия ключа

if "Италия" in столицы:

  print(столицы["Италия"])

else:

  print("Столица Италии не найдена")

Москва
{'Россия': 'Москва', 'Франция': 'Париж', 'Германия': 'Берлин', 'Испания': 'Мадрид'}
Столица Италии не найдена

In [13]:
# Определение знака числа

число = int(input("Введите число: "))

if число > 0:

  print("Число положительное")

elif число < 0:

  print("Число отрицательное")

else:

  print("Число равно нулю")



# Вывод четных чисел от 1 до 100

for i in range(2, 101, 2):

  print(i, end=" ")



# Таблица умножения

число = int(input("Введите число: "))

for i in range(1, 11):

  print(f"{число} * {i} = {число * i}")

Введите число: 2
Число положительное
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 Введите число: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [14]:
# Функция для нахождения суммы двух чисел

def сумма(a, b):

  return a + b



результат = сумма(5, 3)

print(результат)  # 8



# Функция для нахождения среднего арифметического списка чисел

def среднее(числа):

  return sum(числа) / len(числа)



список_чисел = [1, 5, 3, 7, 9]

среднее_значение = среднее(список_чисел)

print(среднее_значение)  # 5.0

8
5.0

Упр. - Работа с типами данных

In [15]:
целое_число = 50
число_с_плавающей_точкой = 4.3
строка = "Строка"
логическое_значение = True

print(type(целое_число))
print(type(число_с_плавающей_точкой))
print(type(строка))
print(type(логическое_значение))

print(целое_число / 2)
print(число_с_плавающей_точкой ** 2)

print(строка + " текста")

print(type(str(целое_число)))
print(type(int(целое_число)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
25.0
18.49
Строка текста
<class 'str'>
<class 'int'>

Упр. - Работа со списками

In [16]:
любимые_книги = ["Гарри Поттер", "Властелин колец", "1984"]
print(любимые_книги[0], "и", любимые_книги[2])
любимые_книги.append("Мартин Иден")
del любимые_книги[1]
print(любимые_книги[1], любимые_книги[2])
любимые_книги.sort()
print(любимые_книги)

Гарри Поттер и 1984
1984 Мартин Иден
['1984', 'Гарри Поттер', 'Мартин Иден']

In [17]:
исходный_список = [1,2,3,4,5,6]
новый_список = []
for i in исходный_список:
    if i % 2 == 0:
        новый_список.append(i)
print(новый_список)

[2, 4, 6]

Упр. - Работа со словарями

In [18]:
страны = {"Россия": "Москва", "Франция": "Париж", "Германия": "Берлин"}
print(страны["Россия"])
страны["Япония"] = "Токио"
print(страны)
if "Япония" in страны:
    print(страны["Япония"])
else:
    print("Столица Япония не найдена")

Москва
{'Россия': 'Москва', 'Франция': 'Париж', 'Германия': 'Берлин', 'Япония': 'Токио'}
Токио

Упр. - Управляющие конструкции

In [19]:
число = int(input("Введите число: "))
if число > 0:
    print("Число положительное")
elif число < 0:
    print("Число отрицательное")
else:
    print("Число равно нулю")

# Вывод четных чисел от 1 до 100
for i in range(2, 101, 2):
    print(i, end=" ")

# Таблица умножения
число = int(input("Введите число: "))
for i in range(1, 11):
  print(f"{число} * {i} = {число * i}")

Введите число: 2
Число положительное
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 Введите число: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Упр. - Функции

In [20]:
def summ(a, b):
    return a+b

summ(3, 7)

10

In [21]:
def avg(числа):
    return sum(числа) / len(числа)


список_чисел = [12, 51, 61, 63, 24]
avg(список_чисел)

42.2

In [26]:
def words(строка):
    new_list = 0
    glasnie = set("ауоиэыяюеё")
    for i in строка:
        if i in glasnie:
            new_list += 1
    return  print(f'Колличество гласных букв: {new_list}')

word("Сегодня замечательный день")

Колличество гласных букв: 9

In [38]:
class Техника:
    вид = "Легковой авто"  # Атрибут класса


    def __init__(self, марка, модель):
        self.марка = марка
        self.модель = модель

    def описание(self):
        return f"Марка: {self.марка}, Модель: {self.модель}, Вид: {self.вид}"

техника1 = Техника("Nissan", "Almera")
техника2 = Техника("Toyota", "Avensis")

print(техника1.описание()) 
print(техника2.описание())

Марка: Nissan, Модель: Almera, Вид: Легковой авто
Марка: Toyota, Модель: Avensis, Вид: Легковой авто